* {
  box-sizing: border-box;
}

.page-section {
  display: flex;
  margin:1%;
  padding:2%;
  /* flex-direction: column;
  justify-content: left;
  border: 5px solid black; */
}

.side-bar{
  width:15%;
  border-right:2px solid black;
}
.section-content{
  width:80%;
  margin-left: 0.5em;
}
.project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects {
  width: 44%;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  border: 1px solid black;
  margin:1%;
  padding:1%;
  position: relative;
  border-radius: 7px;
}

.project-screenshot{
  width:99%
}

.projects article{
  position:absolute;
  bottom: 10px;
  background-image: linear-gradient(150deg,rgb(139, 139, 155),white);
}
body {
  margin: 0;
}

/* .main-header {
  height: 100px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: url(./images/bed-of-studs.jpg) blueviolet;
  background-size:auto;
} */

main {
  max-width: 90%;
  margin: 20px auto 45px auto;
}

#main-header {
  display:flex;
  /* Defines how to distribute the empty space between child elements */
  padding: 30px;
  background-color: blanchedalmond;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

#main-header img {
  float: left;
  width: 100px;
  height: 100px;
}

#main-header h1 {
  position: relative;
  top: 10px;
  left: 10px;
}

img {
  border-radius: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 60%;
  color: azure;
}

.container{
  margin:5%;
  padding:5%;
}

#feature-project {
  width:95%;
  
}

.contact{
  display: flex;
  justify-content: space-around;
}

.contact a{
  font-size: 2rem;
  color:red;
}

.section-content iframe{
  width:800px;
  height:60vh;
}

.download {
margin-left: 45%;
}

.download-2 {
  margin-left: 35%;
}



@media screen and (max-width: 600px) {
  body {
    background-color: blueviolet;
  }
  .projects {
    flex-direction: column;
  }
 .side-bar {
  width: auto;
 }
nav {
flex-wrap: wrap;
}

}

